body {
  text-align: center;
}

.notesDiv {
  display: grid;
  grid-template-columns: 40% 60%;
  border: 1px solid #000;
}

button {
  width: 100%;
}

#savedNotes {
  grid-column: 1 / 2;
  text-align: center;
  border-right: 1px solid #000;
}

#savedNotes hr {
  background: #000;
  height: 1px;
}

#createNotes {
  display: grid;
}

#createNotesDiv {
  grid-column: 2 / 3;
  text-align: center;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10vh 5vh 10vh 20vh 4vh auto;
}

#createNotes hr {
  background: #000;
  height: 1px;
}

#createNotesDiv h1 {
  grid-column: 2;
}

.textTitle {
  grid-area: 3/2;
  text-align: center;
}

.textBody {
  grid-area: 4/2;
  text-align: center;
}

#takeNotes {
  grid-area: 5/2;
  float: right;
}

.noteDiv {
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: 49.9% 49.9%;
  height: 15vh;
  border: 1px solid;
  margin: 2%;
  text-align: center;
  height: min-content;
  overflow: hidden;
}

.noteDiv h5 {
grid-area: 1/1/2/3;
line-height: 1.5;
}

.noteDiv h6 {
  grid-area: 2/1/3/3;
  border-top: 1px solid gray;
  text-align: justify;
  margin: 0px 15px 10px 15px;
  padding-top: 10px;
}

.cancelBtn {
  grid-area: 3/1/4/2;
}

.editBtn {
  grid-area: 3/2/4/3;
}

.updateBtn {
  grid-area: 3/2/4/3;
}

.editTitle {
  grid-area: 1/1/2/3;
  line-height: 1.5;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.editBody {
  grid-area: 2/1/3/3;
  border-top: 1px solid gray;
  text-align: justify;
  margin: 0px 15px 10px 15px;
  padding-top: 10px;
}